@model IEnumerable<WebUI.Models.Currency>

@{
    ViewData["Title"] = "CoinPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CoinMarketCap</h2>

<p>
    <a asp-action="CoinPage">Refresh</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume24hUsd)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.PercentChange1h)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentChange24h)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentChange7d)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarketCapConvert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConvertCurrency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume24hUsd)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.PercentChange1h)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentChange24h)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentChange7d)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarketCapConvert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConvertCurrency)
            </td>
          
        </tr>
}
    </tbody>
</table>
